[defaults]
inventory = inventories/hosts.yml
roles_path = roles
collections_path = collections
remote_user = user
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
callback_result_format = yaml
forks = 10

[privilege_escalation]
become_method = sudo

[ssh_connection]
pipelining = True
